body {
    font-family: arial,sans-serif;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.container > div {
    font-size: 16px;
    padding: auto;
    margin: 20px;
    width: auto;
}


a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20vh;
}
.center-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.search {
    appearance: auto;
    box-sizing: border-box;
    width: 600px;
    height:30px;
    border: 2px solid  #dcdcdc;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding: 20px 30px;
    text-align: center;
    margin: 20px;
}

.search:focus {
    border: 2px solid #acacac !important;
}

.submit {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 25px 6px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.submit:hover {
    border: 2px solid #ececec;
    box-shadow: 50px #808080;
}

span {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: static;
    left: 200px;
    top: 76px;
    white-space: nowrap;
}

@media only screen and (max-width: 350px) {
    span {
      display: none;
    }
  }

